﻿
@page "/C_Ventas"
@inject HttpClient httpClient

<div class="card">
    <div class="card">

        <div class="card-header">
            <h3> Inventario de Productos  </h3>
        </div>

        @if (ListaProductos is not null)
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>VentaId</th>
                        <th>Fecha</th>
                        <th>ClienteId</th>
                        <th>Monto</th>
                        <th>Balance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ListaProductos)
                    {
                        <tr>
                            <td>@item.VentaId</td>
                            <td>@item.Fecha</td>
                            <td>@item.ClienteId</td>
                            <td>@item.Monto</td>
                            <td>@item.Balance</td>
                        </tr>
                    }
                    <tr>
                        <td>Cantidad: @conteo</td>
                    </tr>

                </tbody>

            </table>
        }
    </div>
</div>

@code {
    public List<Ventas>? ListaProductos { get; set; }
    public int conteo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Buscar();
    }

    public async Task Buscar()
    {
        ListaProductos = await httpClient.GetFromJsonAsync<List<Ventas>>($"api/Ventas");

        conteo = ListaProductos != null ? ListaProductos!.Count() : 0;
        StateHasChanged();
    }
}
